.button {
  display: block;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.07);
  width: 249px;
  height: 68px;
  background-color: $color-main;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: .5s background-color;
  &:hover {
    background-color: lighten($color: $color-main, $amount: 5%);
    transition: .5s background-color;
  }
}