.cards {
  padding-top: 79px;
  padding-bottom: 80px;
  &__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    flex-basis: 30%;
    img{
      height: 100%;
      width: 100%;
    }
  }
  &__descr {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 37px;
    width: 215px;
    &-700{
      font-weight: 700;
    }
  }
  h2{
    text-align: center;
    font-size: 48.1px;
    line-height: 30px;
    font-weight: 700;
    color: #393939;
    margin: 155px 0 37px 0;
    position: relative;
    &:before{
      content: '';
      width: 169px;
      height: 50px;
      background: url('../img/01.svg') center center/cover no-repeat;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -81px;
    }
    &:after{
      content: '';
      width: 169px;
      height: 50px;
      background: url('../img/01.svg') center center/cover no-repeat;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -105px;
    }
  }
}

@media(max-width: $screen-lg){
  .cards{
    &__content{
      justify-content: center;
    }
    &__item {
      flex-basis: 75%;
    }
  }
}
@media(max-width: $screen-lg){
  .cards{
    &__item {
      flex-basis: auto;
    }
  }
}