.decisions {
  background: url('../img/bcgr02.jpg') center center/cover no-repeat;
  padding-top: 79px;
  padding-bottom: 65px;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(51,51,51, .5);
    z-index: 5;
  }
  .section-inner{
    position: relative;
    z-index: 10;
  }

  &__tabs {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    margin: 0 auto;
    margin-top: 30px;
    &-triggers{
      height: 70px;
      border: 1.0px solid #ffffff;
      border-radius: 5px;
      list-style: none;
      display: flex;
      justify-content: space-evenly;
    }
    &-list-item{
      list-style: none;
      position: relative;
      flex-basis: 16.6%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-self: center;
      &:not(:last-child){
        &:after{
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 2px;
          height: 50px;
          background-color: #a7a8a5;
        }
      }
    }
    &-item{
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;    
      transition: .5s color;
      &:hover, &--active{
        color: $color-main;
        font-weight: 700;
        text-decoration: none;
        transition: .5s all;
      }
    }
    &-content{
      position: relative;
      &-item{
        margin: 0 auto;
        margin-top: 25px;
        display: none;
        img{
          display: block;
          margin: 0 auto;
          max-width: 100%;
        }
      }
      &-item--active{
        display: block;
      }
    }
    &-arrows{
      &-left, &-right{
        cursor: pointer;
        text-decoration: none;
      }
      &-left{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      &-right{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        img{
          transform: rotate(180deg);
        }
      }
    }
  }
}

@media(max-width: $screen-lg){
  .decisions{
 
  }
}

@media(max-width: $screen-md){
  .decisions{
   
  }
}
@media(max-width: $screen-sm){
  .decisions{
    &__tabs{
      &-item{
        font-size: 10px;
        line-height: 10px;
        padding: 10px 0;
      }
      &-triggers{
        height: auto;
      }
      &-list-item{
        &:not(:last-child){
          &:after{
            height: 30px;
          }
        }
      }
    }
  }
}