.footer {
  padding: 49px 0 40px 0;
  background-color: #0082a1;
  &__content{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .footer__list-item{
      list-style: none;
      font-size: 14px;
      font-weight: 300;
      margin-top: 10px;
    }
    img{
      margin: 20px 0;
    }
  }
  &__item:nth-child(1){
    flex-basis: 377px;
  }
  &__item:nth-child(2){
    flex-basis: 265px;
  }
  &__item:nth-child(3){
    flex-basis: 119px;
  }
  &__item:nth-child(4){
    flex-basis: 113px;
  }
  &__subtitle {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: #ffffff;
  }
  &__descr {
    font-size: 14px;
    line-height: 19px;
    font-weight: 300;
    color: #ffffff;
  }
  &__link{
    color: #ffffff;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  
  &__copyright{
    margin-top: 81px;
    font-size: 13px;
    line-height: 17px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      background-color: #ffffff;
      width: 100%;
      height: 1px;
      opacity: 0.3;
      top: -36px;
      left: 0;
    }
  }
}
