.togetaccess {
  padding: 80px 0 76px 0;
  &__img{
    display: block;
    margin: 0 auto;
  }
  .title {
    margin: 74px 0 25px 0;
  }
  .button {
    display: block;
    margin: 0 auto;
  }
}

.title-black {
}


@media(max-width:$screen-sm){
  .togetaccess{
    &__img{
      height: 200px;
    }
  }
}