.header {
  max-height: 85px;
  padding: 19px 0 16px 0;

  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__boxes {
    display: flex;
    align-items: flex-start;
  }
  &__descr {
    display: flex;
    flex-direction: column;
    padding-left: 11px;
  }
  &__strong {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: #242424;
  }
  &__adresses {
    font-size: 12px;
    font-weight: 300;
  }
}