.promo {
  min-height: 670px;
  height: 1px;

  .section-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__main {
    min-height: 670px;
    background: url('../img/bcgr01.jpg') center center/cover no-repeat;
    padding-top: 39px;
    position: relative;

    .section-inner {
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    font-size: 42px;
    line-height: 42px;
    font-weight: 900;
    color: #ffffff;
  }

  &-400 {
    font-weight: 400;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    list-style: none;
    display: flex;
    font-size: 13px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__list-item {
    &:not(:first-child) {
      margin-left: 45px;
    }

    .promo__link {
      color: #fff;
      text-decoration: none;
      transition: .5s color;

      &:hover {
        color: $color-main;
        transition: .5s color;
        text-decoration: none;
      }
    }
  }

  &__content {
    position: relative;
    display: flex;
    width: 100%;
  }

  &__inner {
    flex-basis: 50%;
    justify-content: flex-start;

    .button {
      margin-top: 35px;
    }
  }

  &__descr {
    display: block;
    margin-top: 27px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    color: #ffffff;
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: -263px;
  }

  // ======slider=======
  &__slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;

    &-wrap {
      width: 100%;
      height: 100%;
    }

    &-item {
      height: 100%;
      display: flex;
      align-items: center;
    }

    &-prev, &-next {
      cursor: pointer;
      display: flex;
      align-items: center;

      &:hover {
        svg {
          .arrow {
            fill: $color-main;
          }
        }
      }
    }

    &-prev {
      margin-right: 13px;
    }

    &-next {
      margin-left: 13px;

      svg {
        transform: rotate(180deg);
      }
    }

    &-dots {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 68px;
      left: 50%;
      transform: translateX(-50%);
    }

    &-dot {
      cursor: pointer;
      width: 11px;
      height: 11px;
      border: 1px solid #fff;
      background-color: transparent;
      border-radius: 50%;

      &:hover {
        background-color: #ffffff;
      }

      &:not(:first-child) {
        margin-left: 5px;
      }
    }

    &-dots .dot-active {
      background-color: #ffffff;
    }
  }

  .fade {
    animation-name: fade;
    animation-duration: 2.5s;
  }

}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}


@media(max-width: $screen-md-max) {
  .promo {
    .section-inner {
      height: 100%;
    }

    &__main {
      height: 100%;
    }

    &__image {
      display: none;
    }

    &__slider {
      min-height: 100%;

      &-item {
        &-01 {
          background: none;
        }
      }

      &-dots {
        bottom: 100px;
      }
    }

    &__inner {
      flex-basis: auto;
      width: 100%;

      .button {
        margin: 0 auto;
      }
    }

    .button {
      margin: 40px auto 0 auto;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .promo {
    &__menu {
      position: fixed;
      top: 0;
      right: -100%;
      height: 100%;
      width: 80%;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: rgba(0, 0, 0, .9);
      z-index: 9998;
      font-size: 32px;
    }

    &__menu--active {
      transition: all linear;
      transition-duration: 500ms;
      right: 0;
    }

    &__list-item {
      &:not(:first-child) {
        margin: 0;
      }

      .promo__link {
        padding: 50px;
      }
    }

  }
}

@media(max-width: $screen-xs-max) {
  .promo {
    &__menu {
      flex-wrap: wrap;
    }

    &__list-item {
      font-size: 10px;
      line-height: 10px;

      &:not(:first-child) {
        margin-left: 25px;
      }
    }

    &__logo {
      width: 100px;
    }

    &__slider {
      &-item {
        &-01 {
          background-size: 40%;
        }
      }
    }

    .button {
      margin-top: 25px;
    }
  }
}