.promo {
  height: 100vh;
  .section-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header {
    height: 11%;
    padding: 19px 20px 16px 20px;
    background-color: #fff;
    &__wrap {
      display: flex;
      justify-content: space-between;
    }
    &__boxes {
      display: flex;
      align-items: flex-start;
    }
    &__descr {
      display: flex;
      flex-direction: column;
      padding-left: 11px;
    }
    &__strong {
      font-size: 14px;
      line-height: 14px;
      font-weight: 700;
      color: #242424;
    }
    &__adresses {
      font-size: 12px;
      font-weight: 300;
      margin-top: 5px;
    }
  }
  &__main{
    height: 89%;
    background: url('../img/bcgr01.jpg') center center/cover no-repeat;
    padding-top: 39px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(51,51,51, .4);
      z-index: 5;
    }
    .section-inner{
      position: relative;
      z-index: 10;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  &__title{
    font-size: 42px;
    line-height: 42px;
    font-weight: 900;
    color: #ffffff;
  }
  &-400{
    font-weight: 400;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__menu {
    display: flex;
  }
  &__list-item{
    list-style: none;
    font-size: 13px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    &:not(:first-child){        
      margin-left: 45px;
    }
    .promo__link {     
      color: #fff;
      text-decoration: none;
      transition: .5s color;
      &:hover {
        color: $color-main;
        transition: .5s color;
        text-decoration: none;
      }
    }
  }
  &__content {
    display: flex;
    width: 100%;
  }
  &__inner{
    flex-basis: 50%;
    justify-content: flex-start;
    .button{
      margin-top: 35px;
    }
  }
  &__descr {
    display: block;
    margin-top: 27px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    color: #ffffff;
  }

  // ======slider=======
  &__slider{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    &-wrap{
      width: 100%;
      height: 100%;
    }
    &-item{
      height: 100%;
      display: flex;
      align-items: center;
      &-01{
        background: url('../img/phone.png') no-repeat right bottom;
      }
    }
    &-prev, &-next{
      cursor: pointer;
      display: flex;
      align-items: center;
      &:hover{
        svg {
          .arrow{
            fill: $color-main;
          }
        }
      }
    }
    &-prev{
      margin-right: 13px;
    }
    &-next{
      margin-left: 13px;
      svg{
        transform: rotate(180deg);
      }
    }
    &-dots {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 68px;
      left: 50%;
      transform: translateX(-50%);
    }
    &-dot{
      cursor: pointer;
      width: 11px;
      height: 11px;
      border: 1px solid #fff;
      background-color: transparent;
      border-radius: 50%;
      &:hover{
        background-color: #ffffff;
      }
      &:not(:first-child){
        margin-left: 5px;
      }
    }
    &-dots .dot-active {
      background-color: #ffffff;
    }
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 2.5s;
  }
  
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}


@media(max-width: $screen-md-max){
  .promo{
    .header{
      height: 21%;
      &__wrap{
        flex-wrap: wrap;
      }
      &__boxes{
        flex-basis: 50%;
        &:not(:last-child){
          margin-bottom: 10px;
        }
      }
    }
    &__main{
      height: 79%;
    }
    &__slider{
      &-item{
        &-01{
          background: none;
        }
      }
      &-dots{
        bottom: 0;
      }
    }
    &__inner{
      flex-basis: auto;
      .button{
        margin: 0 auto;
      }
    }
    .button{
      margin: 40px auto 0 auto;
    }
  }
}
@media(max-width: $screen-md){
  .promo{
    .header{
      &__strong{
        font-size: 12px;
      }
      &__adresses{
        font-size: 10px;
      }
    }

    
  }
}
@media(max-width: $screen-xs-max){
  .promo{
    &__menu{
      flex-wrap: wrap;
    }
    &__list-item{
      font-size: 10px;
      line-height: 10px;
      &:not(:first-child){        
        margin-left: 25px;
      }
    }
    &__logo{
      width: 100px;
    }
    .header{
      padding-top: 5px;
      padding-bottom: 5px;
      &__boxes{
        flex-basis: 50%;
        &:not(:last-child){
          margin-bottom: 3px;
        }
      }
    }
    &__slider{
      &-item{
        &-01{
          background-size: 40%;
        }
      }
    }
    .button{
      margin-top: 25px;
    }
  }
}