@import "normalize.scss";
@import "../fonts/stylesheet.css";


$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

* {
  font-family: Roboto;
  box-sizing: border-box;
}
ul,p{
  padding: 0;
  margin: 0;
}

.section-outer{
  padding-left: 20px;
  padding-right: 20px;
}
.section-inner{
  max-width: 1140px;
  margin: 0 auto;
}
@import "components/first-page";
@import "components/header";
@import "components/button";
@import "components/promo";
@import "components/cards";
@import "components/decisions";
@import "components/title";
@import "components/advantages";
@import "components/storage";
@import "components/getaccess";
@import "components/footer";